2.파이썬 기본문법

In [1]:
# 환경설정
import os
import numpy as np
import pandas as pd

from pandas import Series, DataFrame
from pandas.api.types import is_string_dtype
from datetime import date

2.1 연산자

2.1.1 연습문제1
 - 곱셈과 덧셈 연산 연습

In [1]:
a = 3
aa = ____
aaa = ____
aaaa = ____
sum = a + aa + aaa + aaaa
print(sum)

In [2]:
a = 3
aa = a *10
aaa = a * 100
aaaa = a * 1000
sum = a + aa + aaa + aaaa
print(sum)

3333

2.1.2 연습문제2
 - 나눗셈 연산 연습

In [2]:
X = input("피젯수(dividend)를 입력하세요 : ")
Y = input("나누어 주는 수(제수,divisor)를 입력하세요 : ")
x = int(X)
y = int(Y)
q = ____
r = ____
print(f" 몫은 {q} 이고, 나머지는 {r}입니다.")

In [17]:
X = input("피젯수(dividend)를 입력하세요 : ")
Y = input("나누어 주는 수(제수,divisor)를 입력하세요 : ")
x = int(X)
y = int(Y)
q = x // y
r = x % y
print(f" 몫은 {q} 이고, 나머지는 {r}입니다.")

피젯수(dividend)를 입력하세요 : 35
나누어 주는 수(제수,divisor)를 입력하세요 : 4
 몫은 8 이고, 나머지는 3입니다.

2.2 조건문

In [ ]:
2.2.1 연습문제1
 - 임의의 정수 입력하여 홀수와 짝수 구별

In [ ]:
a = input("임의의 정수 입력 : ") 
a = int(a)
if ____ :
    print("짝수입니다.")
else:
    print("홀수입니다.")

In [18]:
a = input("임의의 정수 입력 : ") 
a = int(a)
if a % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

임의의 정수 입력 : 14
짝수입니다.

2.2.2 연습문제2
 - 시험점수를 입력하여 학점 출력

In [ ]:
score = input("시험점수 입력 : ")
score = float(score)
if ____ :
    grade = "A"
elif score >= 80:    
    grade = "B"
____:
    grade = "C"
____:
    grade = "D"
else :
    grade = "F"
print(f"학점은 {grade} 입니다.")

In [19]:
score = input("시험점수 입력 : ")
score = float(score)
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"
print(f"학점은 {grade} 입니다.")

시험점수 입력 : 84
학점은 B 입니다.

2.3 반복문

2.3.1 연습문제1
 - 구구단 출력

In [ ]:
for i in range(2,10):
    for ____:
        print(f"{i}*{j}={i*j}")
    print("********")

In [20]:
for i in range(2,10):
    for j in range(1,10):
        print(f"{i}*{j}={i*j}")
    print("********")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
********
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
********
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
********
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
********
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
********
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
********
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
********
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
********

2.3.2 연습문제2
 - 1부터 100 사이의 3의 배수 합계 출력

In [ ]:
sum_three = 0
for i in range(1,100+1):
    if i % 3 == 0:
        ____
print(sum_three)

In [37]:
sum_three = 0
for i in range(1,100+1):
    if i % 3 == 0:
        sum_three += i
print(sum_three)

18

2.3.2 연습문제3 (추가문제)
 - 구구단 중 홀수 단만 출력

In [ ]:
for i in range(2,10):
    for ____:
        if ____:
            print(f"{i}*{j}={i*j}")        
     if ____:            
        print("********")

In [3]:
for i in range(2,10):
    for j in range(1,10):
        if i % 2 == 1:
            print(f"{i}*{j}={i*j}")        
    if i % 2 == 1:            
        print("********")

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
********
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
********
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
********
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
********

2.3.3 연습문제4 (추가문제)
 - 1부터 100까지 더한 후 그 결과값 출력

In [57]:
sum = 0
for i in range(1,100+1):
    ____
print(sum)

5050

In [21]:
sum = 0
for i in range(1,100+1):
    sum += i
print(sum)

5050

2.4 함수

2.4.1 연습문제1
 - 제곱함수 만들기

In [ ]:
def func_square(var):
    square = ____
    return square

x = input("임의의 정수를 입력하세요")
x = int(x)
square_x = func_square(____)
print(f"{x}의 제곱은 {square_x} 입니다.")

In [22]:
def func_square(var):
    square = var ** 2
    return square
x = input("임의의 정수를 입력하세요")
x = int(x)
square_x = func_square(x)
print(f"{x}의 제곱은 {square_x} 입니다.")

임의의 정수를 입력하세요144
144의 제곱은 20736 입니다.

2.4.2 연습문제2
 - 팩토리얼 함수 만들기

In [ ]:
def func_fatorial(var):
    result = ____
    for i in range(1, var+1):
        result ____
    return result

x = int(input("세자리수 이내의 정수를 입력하세요"))
facto = func_fatorial(x)
print(f"{x}의 팩토리얼은 {facto}입니다.")

In [23]:
def func_fatorial(var):
    result = 1
    for i in range(1, var+1):
        result *= i
    return result

x = int(input("세자리수 이내의 정수를 입력하세요"))
facto = func_fatorial(x)
print(f"{x}의 팩토리얼은 {facto}입니다.")

세자리수 이내의 정수를 입력하세요154
154의 팩토리얼은 30897696138473508879585646703632404659201907040888820477871589289865505687886666220300447285640952619071680544337494109264649994680187591361311072737951454695525676891035640863743200899694758450943586711068571022031011228320107310612480000000000000000000000000000000000000입니다.

2단원 도전문제

2단원 도전문제 1
 - 소수 판별기

In [ ]:
number = input("세자리 수 이내 숫자를 입력해 주세요 : ")
number = int(number)
prime_yn = 0
for i in range(2,number):
    if _____ :
        prime_yn = 1
if prime_yn == 1:
    print(f"{number}는 소수가 아닙니다.")
else:
    print(f"{number}는 소수입니다.")

In [24]:
number = input("세자리 수 이내 숫자를 입력해 주세요 : ")
number = int(number)
prime_yn = 0
for i in range(2,number):
    if number % i == 0 :
        prime_yn = 1
if prime_yn == 1:
    print(f"{number}는 소수가 아닙니다.")
else:
    print(f"{number}는 소수입니다.")

세자리 수 이내 숫자를 입력해 주세요 : 14
14는 소수가 아닙니다.

2단원 도전문제2
 - 함수를 이용한 소수 판별기

In [ ]:
# 주관식

In [26]:
def func_prime(number):
    prime_yn = 0                
    for i in range(2, number):
        if number % i == 0:
            prime_yn = 1
    return prime_yn                

x = int(input("세자리수 이내 숫자를 입력하세요 : "))
prime_x = func_prime(x)
if prime_x == 1:
    print(f"{x}는 소수가 아닙니다.")
else :
    print(f"{x}는 소수입니다.")

세자리수 이내 숫자를 입력하세요 : 143
143는 소수가 아닙니다.

2단원 도전문제3 (추가문제)
 - 세자리수 이내 숫자 입력
 - 소수 여부를 판별하고, 해당 인수를 리스트로 출력

In [ ]:
number = input("세자리 수 이내 숫자를 입력해 주세요 : ")
number = int(number)
if ____ :
    prime_yn = 0
    list=[]
    for ____:
        if ____ :
            prime_yn = 1
            ____
    if ____:
        print(f"{number}는 소수가 아닙니다.")
        print(f"{number}의 인수는 {list} 입니다.")
    else:
        print(f"{number}는 소수입니다.")
else:
    print("세자리수 이내의 자연수를 입력해 주세요")

In [27]:
number = input("세자리 수 이내 숫자를 입력해 주세요 : ")
number = int(number)
if (number > 0) & (number < 1000) :
    prime_yn = 0
    list=[]
    for i in range(2,number):
        if number % i == 0 :
            prime_yn = 1
            list.append(i)
    if prime_yn == 1:
        print(f"{number}는 소수가 아닙니다.")
        print(f"{number}의 인수는 {list} 입니다.")
    else:
        print(f"{number}는 소수입니다.")
else:
    print("세자리수 이내의 자연수를 입력해 주세요")

세자리 수 이내 숫자를 입력해 주세요 : 147
147는 소수가 아닙니다.
147의 인수는 [3, 7, 21, 49] 입니다.

3. 파이썬 자료구조

3.2 List

3.2.1 연습문제1
 - 인덱싱

a=[1,2,3,['a','b','c']] 에서 'a'를 선택하는 인덱싱 수행

In [1]:
a=[1,2,3,['a','b','c']]
a[-1][0]

'a'

a = [1, 2, ['a', 'b', ['Life', 'is']]] 에서 'Life'를 선택하는 인덱싱 수행

In [2]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

'Life'

a = [1, 2, ['a', 'b', ['Life', 'is']]] 에서 "b" 를 선택하는 인덱싱 수행

In [3]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][1]

'b'

3.2.2 연습문제2
 - 슬라이싱

a = [1, 2, 3, 4, 5] 에서 [1, 2] 를 선택하는 슬라이싱 수행

In [4]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

a = "12345"에서 '12' 를 선택하는 슬라이싱 수행

In [5]:
a = "12345"
a[0:2]

'12'

a = [1, 2, 3, ['a', 'b', 'c'], 4, 5] 에서 [3, ['a', 'b', 'c'], 4] 를 선택하는 슬라이싱 수행

In [6]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

a = [1, 2, 3, ['a', 'b', 'c'], 4, 5] 에서 ['a', 'b'] 를 선택하는 슬라이싱 수행

In [7]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[3][:2]

['a', 'b']

3.2.3 연습문제3
 - 임의의 정수에 대한 약수 리스트 출력

In [ ]:
x = int(input("임의의 정수를 입력하세요 : "))
list = []
for i in range(2, x+1):
    if x % i == 0:
        ____
print(f"{x}의 약수는 {list} 입니다.")

In [28]:
x = int(input("임의의 정수를 입력하세요 : "))
list = []
for i in range(2, x+1):
    if x % i == 0:
        list.append(i)
print(f"{x}의 약수는 {list} 입니다.")

임의의 정수를 입력하세요 : 14
14의 약수는 [2, 7, 14] 입니다.

3.2.4 연습문제4
 - 길이가 5인 문자열을 리스트로 출력

In [ ]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
list=[]
for i in a:
    if len(i) == 5:
       ____
    
print(list)

In [29]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
list=[]
for i in a:
    if len(i) == 5:
       list.append(i) 
print(list)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [30]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [i for i in a if len(i)==5]
b

['alpha', 'bravo', 'delta', 'hotel', 'india']

2.4. Dictionary

2.4.1 연습문제1
 - 직원명 입력 시 해당 부서 출력

In [4]:
dict = {"유성룡":"종합기획부", "이순신":"신용보증부", "권율":"인재개발부", "이항복" : "종합기획부" }
dict[____]

'종합기획부'

[참고] dict 구조

In [38]:
dict.keys()

dict_keys(['유성룡', '이순신', '권율', '이항복'])

In [39]:
dict.values()

dict_values(['종합기획부', '신용보증부', '인재개발부', '종합기획부'])

In [40]:
dict.items()

dict_items([('유성룡', '종합기획부'), ('이순신', '신용보증부'), ('권율', '인재개발부'), ('이항복', '종합기획부')])

3단원 도전문제

In [ ]:
3단원 도전문제1
 - 부서명 입력 시 해당 직원명 출력

In [ ]:
dept_name = input("부서명 : ")
for key, value in dict.items():
    if ____:
        print(key)

In [41]:
dept_name = input("부서명 : ")
for key, value in dict.items():
    if value == dept_name:
        print(key)

부서명 : 신용보증부
이순신

In [ ]:
dept_name = input("부서명 : ")
[ ____ for key, value in dict.items() if ____ ]

In [42]:
dept_name = input("부서명 : ")
[ key for key, value in dict.items() if value == dept_name]

부서명 : 신용보증부

['이순신']

3단원 도전문제2
 - 리스트의 원소를 key로 하고 그 원소의 길이를 value 로 하는 dictionary 생성

In [100]:
list = ['사과', '배', '바나나']
dict_list = {}
for i in range(len(list)):
    dict_list[list[i]] = ____
dict_list

{'사과': 2, '배': 1, '바나나': 3}

In [43]:
list = ['사과', '배', '바나나']
dict_list = {}
for i in range(len(list)):
    dict_list[list[i]] = len(list[i])
dict_list

{'사과': 2, '배': 1, '바나나': 3}

4. 데이터분석 기본 명령어

4.1 데이터 셋

* 연습문제 데이터 셋 불러오기

In [47]:
# 데이터 불러오기
data_path='C:/Users/KODIT/downloads'

df_a = pd.read_excel(data_path + '/실습데이터_보증_부실.xlsx', sheet_name = '보증')
df_b = pd.read_excel(data_path + '/실습데이터_보증_부실.xlsx', sheet_name = '부실')

In [48]:
df_a.head(3)

       고객번호      보증취급일자 취급부점    업종코드        설립일자 종합신용등급   매출액  신규증액금액
0  76691713  2019-01-02   동래  C32029  2016-09-19    KR9   348    90.0
1  76553566  2019-01-02  의정부  R91210  1990-01-05    KR9   868  5000.0
2  60895942  2019-01-02   김해  C20202  2005-01-17    KR7  1333   127.5

In [49]:
df_b

       고객번호     부실발생일자  부실사유
0  76691713 2020-01-17  이자연체
1  76683394 2020-09-10  국세체납
2  76684778 2020-02-22  원금연체
3  67812944 2020-06-03  이자연체
4  76387881 2020-07-01  이자연체

4.1.1 연습문제1
 - 데이터 병합

In [ ]:
df = pd.____(df_a, df_b, how='____', on="____")
df.head(3)

In [50]:
df = pd.merge(df_a, df_b, how='left', on="고객번호")
df.head(3)

,고객번호,보증취급일자,취급부점,업종코드,설립일자,종합신용등급,매출액,신규증액금액,부실발생일자,부실사유
0,76691713,2019-01-02,동래,C32029,2016-09-19,KR9,348,90.0,2020-01-17,이자연체
1,76553566,2019-01-02,의정부,R91210,1990-01-05,KR9,868,5000.0,NaT,NaN
2,60895942,2019-01-02,김해,C20202,2005-01-17,KR7,1333,127.5,NaT,NaN

4.1.2 연습문제2
 - 결측값 대체

In [ ]:
df = df.____
df.head(3)

In [51]:
df = df.fillna(0)
df.head(3)

,고객번호,보증취급일자,취급부점,업종코드,설립일자,종합신용등급,매출액,신규증액금액,부실발생일자,부실사유
0,76691713,2019-01-02,동래,C32029,2016-09-19,KR9,348,90.0,2020-01-17 00:00:00,이자연체
1,76553566,2019-01-02,의정부,R91210,1990-01-05,KR9,868,5000.0,0,0
2,60895942,2019-01-02,김해,C20202,2005-01-17,KR7,1333,127.5,0,0

4.1.3 연습문제3
 - 정렬

In [ ]:
df.sort_values(____)

In [52]:
df.sort_values(['고객번호'])

,고객번호,보증취급일자,취급부점,업종코드,설립일자,종합신용등급,매출액,신규증액금액,부실발생일자,부실사유
15,19474751,2019-01-02,김해북,G46105,1993-07-01,KR4,9921,450.00,0,0
2,60895942,2019-01-02,김해,C20202,2005-01-17,KR7,1333,127.50,0,0
14,61849366,2019-01-02,김해북,G47912,2002-07-01,KR9,873,108.00,0,0
7,62536077,2019-01-02,구미,G47711,2003-12-01,KR6,5571,120.00,0,0
8,67812944,2019-01-02,의정부,C30203,2006-02-22,KR8,1870,180.00,2020-06-03 00:00:00,이자연체
6,76012109,2019-01-02,김해,F42412,2011-09-20,KR10,596,297.50,0,0
11,76387881,2019-01-02,김해,C25923,2014-09-01,KR7,402,400.00,2020-07-01 00:00:00,이자연체
1,76553566,2019-01-02,의정부,R91210,1990-01-05,KR9,868,5000.00,0,0
10,76593297,2019-01-02,김해북,G47221,2003-11-01,KR7,1918,170.00,0,0
4,76649561,2019-01-02,동래,C23221,2015-09-10,KR2,312,45.00,0,0
9,76671581,2019-01-02,구미,C17212,2011-03-30,KR12,735,99.45,0,0
3,76683394,2019-01-02,의정부,G46103,2016-01-01,KR9,196,49.50,2020-09-10 00:00:00,국세체납
5,76684778,2019-01-02,의정부,G46102,2015-01-19,KR7,1011,108.00,2020-02-22 00:00:00,원금연체
13,76687077,2019-01-02,안동,I56123,2015-05-12,KR11,655,90.00,0,0
12,76687623,2019-01-02,안동,I56123,2017-06-03,KR11,2,90.00,0,0
0,76691713,2019-01-02,동래,C32029,2016-09-19,KR9,348,90.00,2020-01-17 00:00:00,이자연체

4.1.4 연습문제4
 - 피벗테이블

In [ ]:
df_pivot = df.pivot_table( ____ = '취급부점', ____ = '신규증액금액', ____ = 'mean')

In [53]:
df_pivot = df.pivot_table(index='취급부점', values='신규증액금액', aggfunc='mean')
df_pivot

           신규증액금액
취급부점
구미     109.725000
김해     275.000000
김해북    242.666667
동래      67.500000
안동      90.000000
의정부   1334.375000

4.2 행/열

4.2.1 연습문제1
 - 조건에 맞는 행 선택

In [ ]:
df[____ >= 100]

In [54]:
df[df['신규증액금액']>=100]

,고객번호,보증취급일자,취급부점,업종코드,설립일자,종합신용등급,매출액,신규증액금액,부실발생일자,부실사유
1,76553566,2019-01-02,의정부,R91210,1990-01-05,KR9,868,5000.0,0,0
2,60895942,2019-01-02,김해,C20202,2005-01-17,KR7,1333,127.5,0,0
5,76684778,2019-01-02,의정부,G46102,2015-01-19,KR7,1011,108.0,2020-02-22 00:00:00,원금연체
6,76012109,2019-01-02,김해,F42412,2011-09-20,KR10,596,297.5,0,0
7,62536077,2019-01-02,구미,G47711,2003-12-01,KR6,5571,120.0,0,0
8,67812944,2019-01-02,의정부,C30203,2006-02-22,KR8,1870,180.0,2020-06-03 00:00:00,이자연체
10,76593297,2019-01-02,김해북,G47221,2003-11-01,KR7,1918,170.0,0,0
11,76387881,2019-01-02,김해,C25923,2014-09-01,KR7,402,400.0,2020-07-01 00:00:00,이자연체
14,61849366,2019-01-02,김해북,G47912,2002-07-01,KR9,873,108.0,0,0
15,19474751,2019-01-02,김해북,G46105,1993-07-01,KR4,9921,450.0,0,0

4.2.2 연습문제2
 - 조건에 맞는 행 삭제

In [ ]:
drop_list = df[____ == '의정부' ].index
df.____(drop_list)

In [55]:
drop_list = df[df['취급부점']=='의정부'].index
df.drop(drop_list)

,고객번호,보증취급일자,취급부점,업종코드,설립일자,종합신용등급,매출액,신규증액금액,부실발생일자,부실사유
0,76691713,2019-01-02,동래,C32029,2016-09-19,KR9,348,90.00,2020-01-17 00:00:00,이자연체
2,60895942,2019-01-02,김해,C20202,2005-01-17,KR7,1333,127.50,0,0
4,76649561,2019-01-02,동래,C23221,2015-09-10,KR2,312,45.00,0,0
6,76012109,2019-01-02,김해,F42412,2011-09-20,KR10,596,297.50,0,0
7,62536077,2019-01-02,구미,G47711,2003-12-01,KR6,5571,120.00,0,0
9,76671581,2019-01-02,구미,C17212,2011-03-30,KR12,735,99.45,0,0
10,76593297,2019-01-02,김해북,G47221,2003-11-01,KR7,1918,170.00,0,0
11,76387881,2019-01-02,김해,C25923,2014-09-01,KR7,402,400.00,2020-07-01 00:00:00,이자연체
12,76687623,2019-01-02,안동,I56123,2017-06-03,KR11,2,90.00,0,0
13,76687077,2019-01-02,안동,I56123,2015-05-12,KR11,655,90.00,0,0
14,61849366,2019-01-02,김해북,G47912,2002-07-01,KR9,873,108.00,0,0
15,19474751,2019-01-02,김해북,G46105,1993-07-01,KR4,9921,450.00,0,0

4.2.3 연습문제3
 - 열 이름 변경

In [ ]:
df = df.rename(____)
df.head(3)

In [56]:
df = df.rename(columns={'종합신용등급':'신용평가등급'})
df.head(3)

,고객번호,보증취급일자,취급부점,업종코드,설립일자,신용평가등급,매출액,신규증액금액,부실발생일자,부실사유
0,76691713,2019-01-02,동래,C32029,2016-09-19,KR9,348,90.0,2020-01-17 00:00:00,이자연체
1,76553566,2019-01-02,의정부,R91210,1990-01-05,KR9,868,5000.0,0,0
2,60895942,2019-01-02,김해,C20202,2005-01-17,KR7,1333,127.5,0,0

4.2.4 연습문제4
 - 신규 변수 생성

In [ ]:
df['한도여유액'] = ____
df.head(3)

In [58]:
df['한도여유액'] = df['매출액']/4 -  df['신규증액금액']
df.head(3)

,고객번호,보증취급일자,취급부점,업종코드,설립일자,신용평가등급,매출액,신규증액금액,부실발생일자,부실사유,한도여유액
0,76691713,2019-01-02,동래,C32029,2016-09-19,KR9,348,90.0,2020-01-17 00:00:00,이자연체,-3.00
1,76553566,2019-01-02,의정부,R91210,1990-01-05,KR9,868,5000.0,0,0,-4783.00
2,60895942,2019-01-02,김해,C20202,2005-01-17,KR7,1333,127.5,0,0,205.75

4.2.5 연습문제5
 - 특정 열 선택

In [ ]:
df[____]

In [59]:
df[['고객번호','설립일자','보증취급일자']]

        고객번호        설립일자      보증취급일자
0   76691713  2016-09-19  2019-01-02
1   76553566  1990-01-05  2019-01-02
2   60895942  2005-01-17  2019-01-02
3   76683394  2016-01-01  2019-01-02
4   76649561  2015-09-10  2019-01-02
5   76684778  2015-01-19  2019-01-02
6   76012109  2011-09-20  2019-01-02
7   62536077  2003-12-01  2019-01-02
8   67812944  2006-02-22  2019-01-02
9   76671581  2011-03-30  2019-01-02
10  76593297  2003-11-01  2019-01-02
11  76387881  2014-09-01  2019-01-02
12  76687623  2017-06-03  2019-01-02
13  76687077  2015-05-12  2019-01-02
14  61849366  2002-07-01  2019-01-02
15  19474751  1993-07-01  2019-01-02

4.2.6 연습문제6
 - 특정 열 삭제

In [ ]:
df.drop(____)

In [60]:
df.drop(['업종코드'], axis=1)

,고객번호,보증취급일자,취급부점,설립일자,신용평가등급,매출액,신규증액금액,부실발생일자,부실사유,한도여유액
0,76691713,2019-01-02,동래,2016-09-19,KR9,348,90.00,2020-01-17 00:00:00,이자연체,-3.00
1,76553566,2019-01-02,의정부,1990-01-05,KR9,868,5000.00,0,0,-4783.00
2,60895942,2019-01-02,김해,2005-01-17,KR7,1333,127.50,0,0,205.75
3,76683394,2019-01-02,의정부,2016-01-01,KR9,196,49.50,2020-09-10 00:00:00,국세체납,-0.50
4,76649561,2019-01-02,동래,2015-09-10,KR2,312,45.00,0,0,33.00
5,76684778,2019-01-02,의정부,2015-01-19,KR7,1011,108.00,2020-02-22 00:00:00,원금연체,144.75
6,76012109,2019-01-02,김해,2011-09-20,KR10,596,297.50,0,0,-148.50
7,62536077,2019-01-02,구미,2003-12-01,KR6,5571,120.00,0,0,1272.75
8,67812944,2019-01-02,의정부,2006-02-22,KR8,1870,180.00,2020-06-03 00:00:00,이자연체,287.50
9,76671581,2019-01-02,구미,2011-03-30,KR12,735,99.45,0,0,84.30
10,76593297,2019-01-02,김해북,2003-11-01,KR7,1918,170.00,0,0,309.50
11,76387881,2019-01-02,김해,2014-09-01,KR7,402,400.00,2020-07-01 00:00:00,이자연체,-299.50
12,76687623,2019-01-02,안동,2017-06-03,KR11,2,90.00,0,0,-89.50
13,76687077,2019-01-02,안동,2015-05-12,KR11,655,90.00,0,0,73.75
14,61849366,2019-01-02,김해북,2002-07-01,KR9,873,108.00,0,0,110.25
15,19474751,2019-01-02,김해북,1993-07-01,KR4,9921,450.00,0,0,2030.25

4.2.7 연습문제7
 - 조건에 맞는 신규 변수 추가

In [167]:
df['부실여부'] = ['정상' if i == 0 else '부실' for i in ____ ]

,고객번호,보증취급일자,취급부점,업종코드,설립일자,신용평가등급,매출액,신규증액금액,부실발생일자,부실사유,한도여유액,부실여부
0,76691713,2019-01-02,동래,C32029,2016-09-19,KR9,348,90.00,2020-01-17 00:00:00,이자연체,-3.00,부실
1,76553566,2019-01-02,의정부,R91210,1990-01-05,KR9,868,5000.00,0,0,-4783.00,정상
2,60895942,2019-01-02,김해,C20202,2005-01-17,KR7,1333,127.50,0,0,205.75,정상
3,76683394,2019-01-02,의정부,G46103,2016-01-01,KR9,196,49.50,2020-09-10 00:00:00,국세체납,-0.50,부실
4,76649561,2019-01-02,동래,C23221,2015-09-10,KR2,312,45.00,0,0,33.00,정상
5,76684778,2019-01-02,의정부,G46102,2015-01-19,KR7,1011,108.00,2020-02-22 00:00:00,원금연체,144.75,부실
6,76012109,2019-01-02,김해,F42412,2011-09-20,KR10,596,297.50,0,0,-148.50,정상
7,62536077,2019-01-02,구미,G47711,2003-12-01,KR6,5571,120.00,0,0,1272.75,정상
8,67812944,2019-01-02,의정부,C30203,2006-02-22,KR8,1870,180.00,2020-06-03 00:00:00,이자연체,287.50,부실
9,76671581,2019-01-02,구미,C17212,2011-03-30,KR12,735,99.45,0,0,84.30,정상
10,76593297,2019-01-02,김해북,G47221,2003-11-01,KR7,1918,170.00,0,0,309.50,정상
11,76387881,2019-01-02,김해,C25923,2014-09-01,KR7,402,400.00,2020-07-01 00:00:00,이자연체,-299.50,부실
12,76687623,2019-01-02,안동,I56123,2017-06-03,KR11,2,90.00,0,0,-89.50,정상
13,76687077,2019-01-02,안동,I56123,2015-05-12,KR11,655,90.00,0,0,73.75,정상
14,61849366,2019-01-02,김해북,G47912,2002-07-01,KR9,873,108.00,0,0,110.25,정상
15,19474751,2019-01-02,김해북,G46105,1993-07-01,KR4,9921,450.00,0,0,2030.25,정상

In [62]:
df['부실여부'] = ['정상' if i == 0 else '부실' for i in df['부실사유']]
df.head(3)

,고객번호,보증취급일자,취급부점,업종코드,설립일자,신용평가등급,매출액,신규증액금액,부실발생일자,부실사유,한도여유액,부실여부
0,76691713,2019-01-02,동래,C32029,2016-09-19,KR9,348,90.0,2020-01-17 00:00:00,이자연체,-3.00,부실
1,76553566,2019-01-02,의정부,R91210,1990-01-05,KR9,868,5000.0,0,0,-4783.00,정상
2,60895942,2019-01-02,김해,C20202,2005-01-17,KR7,1333,127.5,0,0,205.75,정상

4.2.8 연습문제8
 - 그룹변수 추가

In [ ]:
분류기준 = [
    (df['신규증액금액'] <= 100) ,
    (df['신규증액금액'] > 100) & (df['신규증액금액'] <= 300), 
    (df['신규증액금액'] > 300) & (df['신규증액금액'] <= 500), 
    (df['신규증액금액'] > 500) & (df['신규증액금액'] <= 1000), 
    (df['신규증액금액'] > 1000) 
    ]
그룹 = ['1억이하', '3억이하', '5억이하', '10억이하', '10억초과']
df['금액구분'] = np.select(____)

In [63]:
분류기준 = [
    (df['신규증액금액'] <= 100) ,
    (df['신규증액금액'] > 100) & (df['신규증액금액'] <= 300), 
    (df['신규증액금액'] > 300) & (df['신규증액금액'] <= 500), 
    (df['신규증액금액'] > 500) & (df['신규증액금액'] <= 1000), 
    (df['신규증액금액'] > 1000) 
    ]
그룹 = ['1억이하', '3억이하', '5억이하', '10억이하', '10억초과']
df['금액구분'] = np.select(분류기준,그룹)

4.3 문자열

4.3.1 연습문제1
 - 문자열 일부 선택

In [ ]:
df['업종대분류'] = ____.
df.head(3)

In [64]:
df['업종대분류'] = df['업종코드'].str[0:1]
df.head(3)

,고객번호,보증취급일자,취급부점,업종코드,설립일자,신용평가등급,매출액,신규증액금액,부실발생일자,부실사유,한도여유액,부실여부,금액구분,업종대분류
0,76691713,2019-01-02,동래,C32029,2016-09-19,KR9,348,90.0,2020-01-17 00:00:00,이자연체,-3.00,부실,1억이하,C
1,76553566,2019-01-02,의정부,R91210,1990-01-05,KR9,868,5000.0,0,0,-4783.00,정상,10억초과,R
2,60895942,2019-01-02,김해,C20202,2005-01-17,KR7,1333,127.5,0,0,205.75,정상,3억이하,C

4.3.2 연습문제2
 - 문자열 형태 변환 (문자열 -> 날짜형)

In [65]:
# [참고] 날짜형 데이터 타입 확인
is_string_dtype(df['부실발생일자'])

True

In [ ]:
df['설립일자_날짜'] = pd.____(df['설립일자'])

In [66]:
df['설립일자_날짜'] = pd.to_datetime(df['설립일자'])
df.head(3)

,고객번호,보증취급일자,취급부점,업종코드,설립일자,신용평가등급,매출액,신규증액금액,부실발생일자,부실사유,한도여유액,부실여부,금액구분,업종대분류,설립일자_날짜
0,76691713,2019-01-02,동래,C32029,2016-09-19,KR9,348,90.0,2020-01-17 00:00:00,이자연체,-3.00,부실,1억이하,C,2016-09-19
1,76553566,2019-01-02,의정부,R91210,1990-01-05,KR9,868,5000.0,0,0,-4783.00,정상,10억초과,R,1990-01-05
2,60895942,2019-01-02,김해,C20202,2005-01-17,KR7,1333,127.5,0,0,205.75,정상,3억이하,C,2005-01-17